<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
           
            <div class="group ">
                <li class="my-2 list-group-item active"><%=photo.name%></li>
                
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="image-responsive" src="<%= photo.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">photo price: $<%=photo.price %></h4>
                    <h4><%=photo.name%></h4>
                    <p><%= photo.description %></p>
                   <p>
                       <em>Submitted by <span class="text-capitalize"><%= photo.author.username %></span></em> 
                    </p>

                    <% if(currentUser && photo.author.id.equals(currentUser._id)){ %>

                    <a class=" btn btn-xs btn-warning" href="/photos/<%=photo._id%>/edit">Edit</a>
                    <form class="delete-form" action="/photos/<%=photo._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                    <%}%>
                </div>

            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/photos/<%= photo._id%>/comments/new">Add new comment</a>
                </div>
                <hr>
                <% photo.comments.forEach(function(comment){ %>
                    <div class="row comment-section">
                        <div class=" col-md-12">
                            <strong class="text-capitalize"><%= comment.author.username %></strong>
                            <span class="pull-right"></span>
                            <p><%= comment.text %></p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>

                            
                            <form class="delete-form" action="/photos/<%= photo._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <input type="submit" class=" pull-right btn btn-danger btn-xs" value="delete">
                            </form>
                            <p class="p-tag pull-right mx-1 px-1">aa</p>
                            <a class=" pull-right btn btn-xs btn-warning" 
                            href="/photos/<%= photo._id%>/comments/<%=comment._id%>/edit">
                            edit</a>
                            <%}%>   
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    
</div>







<% include ../partials/footer %>